<% content_for :title do %>
  Corsego | New Enrollment
<% end %>

<div class="card">
  <div class="card-header">
    <h3>
      <div class="fa fa-graduation-cap"></div>
      <%= link_to @course.title, course_path(@course) %>
      <hr/>
      <div class="fa fa-lock-open"></div>
      Buy course
    </h3>
  </div>
  <div class="card-body">
    <%= form_tag course_enrollments_path(@course) do %>
      <%= submit_tag "Pay #{@course.price}", class: 'btn btn-lg btn-success' %>
    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to 'Back', course_path(@course) %>
  </div>
</div>


