<!-- <p id="notice"><%#= notice %></p> -->

<h1>Courses: <%= @courses.count %></h1>

<div class="card-columns">
  <% @courses.each do |course| %>
    <%= render 'courses/course', course: course %>
  <% end %>
</div>

<br>

<%= link_to new_course_path, class: 'btn btn-success' do %>
  <i class="fas fa-graduation-cap"></i>
  New Course
<% end %>
